body {
  font-family: "Open Sans", sans-serif;
}

.container h1 {
  margin: 0 32px;
}
.container h1 {
  font-size: 25px;
}

.container h1 span{
  color: grey;
}
.area-code {
  margin: 10px 32px;
  display: flex;
  align-items: center;
}
.area-code input {
  width: 13em;
  height: 1.5em;
  border: solid grey 2px;
  border-radius: 1em;
  padding-left: 1em;
}

.area-code p {
  margin-right: 10px;
  font-size: 15px;
}

.area-code button {
  border: none;
  background-color: Transparent;
  margin-left: -30px;
}
.years {
  display: flex;
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

}
.years button {
  width: 50%;
  background-color: Transparent;
  border: none;
  padding: 5px
}
.years button:active {
  border-bottom: red solid 2px;
}
.years button:first-child{
  border-right: 1px solid grey;
  border-bottom: red solid 2px;
}